@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

.container {
    margin: 0 auto;
}
.icon-svg {
    width: 24px;
    height: 24px;
}

/* HEADER */

.header-menu {
    display: flex;
    height: 90px;
    background: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 2px 4px 0px #00000014;

    nav ul {
        gap: 24px;
        padding: 0;
        margin: 18px auto;
    }
    .phones {
        gap: 16px;
        li {
            display: flex;
            align-items: center;
            gap: 8px;
            &:nth-child(1), &:nth-child(2) {
                display: none;
            }
            &:nth-child(2) {
                margin-right: 32px;
            }
        }
    }
    h1 {
        color: #2D66EE;
        text-align: center;
        font-size: 20px;
        margin-left: 18px;
        margin-right: 40px;
    }
    .contacts a {
        color: #2D66EE;
        gap: 32px;
    }
}

/* MAIN */

.introduction {
    position: relative;

    h1, p {
        width: 383px;
    }
    h1 {
        margin-top: 0;
    }
}
.feedback {
    position: absolute;
    z-index: -1;
    transform: rotate(-12deg);

    .img-block {
        position: absolute;
        top: 0;
        height: 3840px;

        &:first-child {
            width: 480px;
            background: url(../img/column-left.webp);
            right: 220px;

        }
        &:last-child {
            width: 293px;
            background: url(../img/column-right.webp);
            right: 0;
        }
    }
}
.consultation {
    background: #FFFFFF;
    width: 676px;
    border-radius: 12px;
    padding: 24px;
    margin-top: 60px;
    box-shadow: 0px 0px 24px 0px #00000029;

    h3 {
        width: 600px;
        margin: 0 0 32px;
    }
    form {
        gap: 24px;
    }
    button {
        width: 132px;
        height: 58px;
        padding: 0 24px;
    }
}
.company-services {
    background: #FFFFFF;
    padding: 64px 0;

    h1 {
        margin-top: 0;
    }
    h3 {
        margin-top: 32px;
    }
    .container {
        display: flex;
    }
    span {
        color: #2D66EE;
    }
    .services {
        ul {
            display: block;
        }
        li {
            display: flex;
            align-items: center;
            height: 46px;
            a:hover {
                color: #000000;
                text-decoration-color: #2D66EE;
                font-weight: 600;
            }
            img {
                height: 24px;
                margin-left: 6px;
            }
        }
    }
}
.development-industries {
    background: #F2F4F7;
    
    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
        padding: 0;
    }
    li {
        display: flex;
        align-items: center;
        gap: 12px;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 44px;
            width: 44px;
            background: #FFFFFF;
            border-radius: 100%;
            box-shadow: 0px 2px 4px 0px #00000014;

            img {
                
                width: 24px;
                height: 24px;
            }
        }
    }
}
.partnership {
    background: #F2F4F7;
    padding: 32px 0 64px 0;

    .buttons {
        display: flex;
        align-items: center;
        padding: 32px 0;

        ul {
            margin: 0;
            padding: 0;
            
            li {
                padding: 12px;
    
                button {
                    background: none;
                    color: #101828;
                    font-weight: 400;
                    padding: 4px;
                    border-radius: 0;
                    border-bottom: 2px solid transparent;
        
                    &:hover {
                        text-decoration: none;
                        font-weight: 600;
                        border-bottom: 2px solid #2D66EE;
                    }
                }
            }
        }
    }
    .view-button-desktop, .view-button-tablet, .view-button-phone {
        height: 40px;
        width: 210px;
        margin-left: auto;
        text-align: center;
        display: none;
    }
    .partner { 
        display: flex;
        ul {
            padding: 0;
        }
        .place {
            gap: 24px;
            padding: 0;

            li {
                display: flex;
                align-items: center;
                gap: 12px;
        
                img {
                    height: 24px;
                    width: 24px;
                }
            }
        }
        .get-it {
            button {
                height: 40px;
                
                &:first-child {
                    width: 148px;
                    margin-right: 12px;
                    background: url(../svg/app-store.svg);
                }
                &:last-child {
                    width: 136px;
                    background: url(../svg/google-play.svg);
                }
            }
        }
    }
    .partner-image-desktop, .partner-image-tablet, .partner-image-phone {
        display: none;
    }
}
.stats, .team-facts {
    margin: 64px 0;
    gap: 32px;
    
    li {
        width: 128px;
        
        h4 {
            font-size: 24px;
            margin: 0;
        }
        p {
            color: #667085;;
            font-size: 13px;
            margin: 0;
        }
    }
}
.discussion {
    height: 350px;
    background: url(../svg/noise.svg) #2D66EE;

    .container {
        display: flex;
        padding: 80px 0;
    }
    .discussion-desc {
        h1, p {
            color: #FFFFFF;
        }
        h1 {
            margin-top: 0;
        }
        p {
            margin-top: 32px;
        }
    }
    .consultation {
        height: 190px;
        width: 600px;
        margin: 0;
        margin-left: auto;
        
        form {
            display: flex;
            flex-wrap: wrap;

            button {
                width: 178px;
                height: 40px;
                padding: 0;
                text-align: center;
                margin-left: auto;
                margin-top: 12px;
            }
        }
    }
}
.development-stages {
    background: #FFFFFF;
    padding-top: 32px;

    .container {
        padding: 80px 0;
        
        h1 {
            margin: 0;
            margin-bottom: 32px;
        }
        .blocks {
            div {
                &:last-child {
                    margin-left: auto;
                }
            }
            article {
                width: 400px;
                padding: 24px;
                margin-bottom: 12px;
                background: #FFFFFF;
                border-radius: 12px;
                box-shadow: 0px 2px 24px 0px #00000014;
                

                div {
                    display: flex;
                    align-items: center;
                    gap: 32px;
                    margin-bottom: 12px;
                }
                h3, p {
                    margin: 0;
                }
                img {
                    width: 45px;
                    height: 45px;
                }
            }
        }
    }
}
.team {
    padding: 80px 0;

    .container {
        display: flex;
        
        .team-desc, img{
            width: 580px;
        }
        img {
            margin-left: auto;
        }
        .team-desc {
            .team-facts {
                padding: 0;

                h1 {
                    font-size: 48px;
                    margin-bottom: 12px;
                }
                li {
                    width: 185px;
                }
            }
        }
        .team-image-desktop, .team-image {
            display: none;
        }
    }
}
.book {
    background: url(../svg/noise.svg) #2D66EE;
    padding: 80px 0;
    color: #FFFFFF;

    h1 {
        color: #FFFFFF;
    }
    .container {
        display: flex;
        gap: 40px;

        .get-book {
            
            .consultation {
                
                button {
                    grid-column: span 2;
                    width: 225px;
                    height: 40px;
                    padding: 0;
                    text-align: center;
                    margin-left: auto;
                    margin-top: 12px;
                }
            }
        }
        img {
            width: 650px;
        }
        .book-image-mobile {
            display: none;
        }
    }
}
.faq {
    padding: 64px 0;
    background: #FFFFFF;

    .container {
        .questions {
            display: flex;

            article {
                width: 600px;

                .name {
                    display: flex;

                    button {
                        margin-left: auto;
                    }
                }
                hr {
                    margin: 32px 0;
                    border: 1px solid #D0D5DD;
                }
                button {
                    display: flex;
                    width: 60px;
                    height: 60px;
                    align-items: center;
                    justify-content: center;
                    background: #FFFFFF;
                    box-shadow: 0px 2px 4px 0px #00000014;
                    border-radius: 100%;
                }
                &:first-child {
                    margin-right: 24px;
                }
            }
        }
    }
}

/* FOOTER */

footer {
    background: #FFFFFF;

    .footer-info {
        background: #101828;
        border-radius: 12px;
        padding: 24px;
        box-shadow: 0px 2px 24px 0px #00000014;
    
        h1, h6, h5 {
            color: #FFFFFF;
        }
        h1 {
            margin: 0;
            text-align: center;
        }
        .contacts {
            
            margin: 26px 0;
    
            .icon-and-name {
                display: flex;
                gap: 8px;
            }
            h6 {
                margin: 4px 0;
            }
            h5 {
                margin: 8px 0;
            }
        }
        .place {
            display: flex;
            justify-content: center;
            gap: 12px;
            height: 16px;
    
            h6 {
                margin: 0;
            }
        }
    }
}

/* PHONE AND TABLET */

@media (min-width: 424px) and (max-width: 1439px) {
    h1 {
        font-size: 28px;
    }
    p {
        font-size: 15px;
    }
    .header-menu {
        display: grid;
        grid-template-columns: repeat(auto-fill, calc(100% / 3));
        
        h1 {
            margin: auto 0;
        } 
        nav {
            display: none;
        }
        .contacts ul {
            margin: 33px 32px 0 0;
        }
    }
    header .container, footer .container {
        padding: 0;
        width: 100vw;
    }
    .feedback {
        right: 80px;
        transform: scale(0.5) rotate(-12deg);

        img {
            height: 930px;
        }
    }
    .consultation {
        width: 386px;

        h3 {
            width: 295px;
            font-size: 16px;
        }
        form {
            display: block;

            div {
                margin-bottom: 32px;
            }
        }
        button {
            width: 155px;
            height: 40px;   
            padding: 0;
            text-align: center;
        }   
    }
    .company-services {
        .development-platforms {
            width: 320px;
        }
    }
    .development-industries {
        padding-top: 32px;

        ul {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .partner {
        .partner-image-tablet, .partner-image-tablet {
            width: 370px;
        }
    }
    .discussion {
        .container {
            display: block;
        }
        .consultation {
            margin: 0;

            div {
                margin: 0;
            }
        }
    }
    .development-stages {
        .container {
            .blocks {
                article {
                    width: 100%;
                }
            }
        }
    }
    .team {
        .container {
            display: block;

            .team-desc, .team-image {
                width: 100%;
            }
            .team-image {
                margin-top: 32px;
                display: block;
            }
            ul {
                margin-top: 0;

                h1 {
                    font-size: 48px;
                }
            }
        }
    }
    .faq {
        padding: 24px 0;

        .container {
            .questions {
                display: block;

                article {
                    width: 100%;
                }
                .hr-desktop {
                    display: none;
                }
            }
        }
    }
    .footer-info .contacts h5 {
        font-size: 14px;
    } 
}

/* PHONE */

@media (max-width: 767px) {
    .container {
        width: 425px;
        padding: 0 24px;
    }
    .header-menu {
        margin-top: 20px;
        .contacts {
            display: none;
        }
    }
    .burger {
        height: 20px;
        width: 40px;
        margin: 35px 0 0 17px;
    }
    .header-menu h1 {
        margin: auto 0;
    }
    .introduction {
        padding-top: 160px;
        height: 1267px;

        .feedback {
            top: 380px;
        }
    }
    .feedback {
        top: 380px;        
    }
    .consultation {
        margin-top: 135%;
    }
    .company-services {
        padding: 32px 0;

        .container {
            display: block;
        }
        .services ul {
            padding: 0;
            margin-top: 32px;
        }
    }
    .view-button-phone {
        margin: 0 auto;
        margin-top: 32px;
        display: block !important;
    }
    .partnership {
        .buttons {
            ul {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
    .partner {
        .partner-image-phone {
            display: block;
        }
    }
    .discussion {
        height: 670px;

        .container {
            padding: 32px 24px;

            p {
                font-size: 14px;
                margin-bottom: 128px;
            }
            .consultation {
                width: 380px;
                height: 300px;
                
                form {    
                    display: flex;
    
                    button {
                        margin: 0;
                        margin-top: 32px;
                    }
                }
            }
        }
    }
    .development-stages {
        padding-bottom: 12px;

        .container {
            padding: 0 24px;
        }
    }
    .team {
        padding: 24px 0;
        .container {
            ul {
                h1 {
                    font-size: 28px !important;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
    .book {
        padding-top: 32px;
        padding-bottom: 64px;

        .container {
            .get-book {
                height: 100%;
                .consultation {
                    width: 380px;
                    margin: 0;

                    div {
                        input {
                            width: 330px;
                        }
                    }
                }
                .book-image {
                    display: none;
                }
                .book-image-mobile {
                    display: block;
                    width: 300px;
                    margin: 0 auto;
                    padding: 32px 0;
                }
            }
        }
    }
    .footer-info {
        .contacts {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 32px;

            article:first-child {
                margin-bottom: 0;
            }
        }
    }
}

/* TABLET */

@media (min-width: 768px) and (max-width: 1439px) {
    .container {
        width: 768px;
        padding: 0 32px;
    }
    .header-menu {
        margin-top: 16px;

        .contacts {
            margin-left: auto;
            margin-right: 0;
        }
    }
    .burger {
        height: 40px;
        width: 60px;
        margin: 25px 0 0 32px;
    }
    .introduction {
        padding-top: 160px;
        height: 768px;
        
        h1, p {
            width: 383px;
        }
    }
    .feedback {
        top: -80px;
    }
    .company-services {
        .services {
            margin-left: 150px;
        }
    }
    .partner {
        .desc {
            div {
                display: flex;
                align-items: center;
            }
        }
        .view-button-tablet {
            display: block !important;
        }
        .facts {
            display: flex;
        }
        .partner-image-tablet {
            display: block;
        }
    }
    .discussion {
        height: 428px;
        .container {
            padding: 32px;

            .consultation {
                margin-top: 32px;
            }
        }
    }
    .development-stages {
        padding: 32px 0;

        h1 {
            margin: 32px 0;
        }
        .container {
            padding: 0 32px;

            .blocks {
                article {
                    width: 100%;
                }
            }
        }
    }
    .team {
        padding: 32px 0;
    }
    .book {
        .container {
            .consultation {
                width: 335px;
                display: block;

                form {
                    div {
                        input {
                            width: 285px;
                        }
                    }
                }
            }
            img {
                width: 550px;
                margin-top: 100px;
                margin-left: -100px;
            }
        }
    }
    .faq {
        padding: 32px 0;
    }
    .footer-info {
        .contacts {
            display: grid;
            grid-template-columns: repeat(auto-fill, calc(100% / 4));
        }  
    }
}

/* DESKTOP */

@media (min-width: 1440px) {
    .container, header .container {
        width: 1224px;
    }
    .burger {
        display: none;
    }
    .header-menu {
        height: 52px;
        margin-top: 24px;
        nav {
            display: flex;
            padding: 0 72px;
        }
        .phones li:nth-child(1), .phones li:nth-child(2) {
            display: flex;
        }
    }
    .introduction {
        padding-top: 160px;
        height: 900px;
        h1, p {
            width: 600px;
        }
    }
    .feedback {
        top: -150px;
        right: 100px;

        .img-block {
            animation: move 10s linear infinite;
    
            &:first-child {
                animation-direction: normal;
            }
            &:last-child {
                animation-direction: reverse;
            }
        }
    }
    @keyframes move {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: 0 100%;
        }
    }
    .company-services {
        .development-platforms {
            width: 480px;
        }
        .services {
            margin-left: 200px;
        }
    }
    .development-industries {
        padding-top: 32px;
        padding-bottom: 64px;

        ul {
            grid-template-columns: repeat(3, 1fr);
        }
        h1 {
            width: 600px;
        }
    }
    .partnership {
        h1, p {
            width: 600px;
        }   
        .view-button-desktop {
            display: block;
        }
    }
    .partner-image-desktop {
        display: block !important;
        width: 600px;
    }
    .development-stages {
        .container {
            .blocks {
                display: flex;
            }
        }
    }    
    .team {
        .container {
            .team-image-desktop {
                display: block;
            }
        }
    }   
    .book {
        .container {
            .consultation {
                width: 600px;

                form {
                    display: grid;
                    gap: 32px;

                    input {
                        width: 260px;
                    }
                    div:nth-child(2) {
                        input {
                            margin-top: 19px;
                        }
                    }
                    div:nth-child(3) {
                        input {
                            width: 552px;
                        }
                    }
                }
            }
        }
    }
    .faq {
        .container {
            .questions {
                .hr-desktop {
                    display: block;
                }
            }
        }
    }
    .footer-info {
        margin-bottom: 32px;

        .contacts {
            display: grid;
            grid-template-columns: repeat(auto-fill, calc(100% / 4));
        }  
    }
}